<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <div class="text-center" th:if="${param.error}">
                            <h6 class="text-danger">Username already exists!</h6>
                        </div>
                        <form class="user" th:action="@{/register}" th:object="${user}" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{firstName}" type="text" class="form-control form-control-user"
                                           id="firstName" placeholder="First Name" maxlength="12" required/>
                                </div>
                                <div class="col-sm-6">
                                    <input th:field="*{lastName}" type="text" class="form-control form-control-user"
                                           id="lastName" placeholder="Last Name" maxlength="12" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{username}" type="text" class="form-control form-control-user"
                                           id="username" placeholder="Username" maxlength="12" required/>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control form-control-user" id="sel" th:field="*{gender}"
                                            required>
                                        <option value="">Select Gender</option>
                                        <option th:each="gender : ${T(com.pierre.oceanblu.model.User.Gender).values()}"
                                                th:value="${gender}" th:text="${gender}" class="dropdown-item"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input th:field="*{password}" type="password" class="form-control form-control-user"
                                           id="password" placeholder="Password" minlength="8" maxlength="25" required/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="repeatPassword"
                                           placeholder="Repeat Password" minlength="8" maxlength="25" required/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Custom script for validating passwords-->
<script src="/js/password-validator.js"></script>

</body>

</html>